#TabsToolbar,#sidebar-header {
	visibility: collapse;
}

#contentAreaContextMenu {
    margin-left: 4px;
}

input#urlbar-input {
	width: 99999px !important;
	text-align: center !important;
	font-family: "mononoki" !important;
	font-size: 13 !important;
	font-weight: bold !important;
	color: #d8dee9 !important;
}

#urlbar,#nav-bar {
	background-color: #2e3440 !important;
	border: none !important;
	box-shadow: none !important;
}

#identity-box,#pageActionButton,#tracking-protection-icon-container,#reader-mode-button,#sidebar-splitter { 
	display: none !important; 
}

#navigator-toolbox { border: none !important;}
