#TabsToolbar,#sidebar-header {
	visibility: collapse;
}

#contentAreaContextMenu {
    margin-left: 4px;
}

.urlbar-input-box {
	width: 99999px !important;
	text-align: center !important;
	font-family: "mononoki Nerd Font" !important;
	font-size: 13 !important;
	font-weight: bold !important;
	color: #babbf1 !important;
}

#urlbar,#nav-bar,#urlbar-input-container{
	background-color: #232634 !important;
	border: none !important;
	box-shadow: none !important;
}

#pageActionButton,#tracking-protection-icon-container,#reader-mode-button,#urlbar-background{
	display: none !important; 
}

#navigator-toolbox { 
	background-color: #232634 !important;
	border-color: #232634 !important;
}

#sidebar-splitter {
	width: 1px !important; 
	color: #232634 !important;
	border: none !important;
}

.urlbarView {
	border: solid !important;
	border-color: #232634 !important;
	background-color: #232634 !important;
	margin-inline-start: 0px !important;
	margin-inline-end: 0px !important;
	width: 100% !important;
	border-inline-start-width: 2px !important;
	border-inline-end-width: 2px !important;
	border-top-width: 2px !important;
	border-bottom-width: 2px !important;
}
