body,#hdtb-msb,#extabar,#hdtbSum,.mSAqxd,.sfbg.nojsv,.spIzCe,#footcnt *, .wCIBKb, .MjS0Lc, .CNf3nf, .ab_button, .ab_dropdownitem {
    background-color: #2e3440 !important;
}
.st,em,.med.dPAwzb,.g-blk span, .Ss2Faf, h1, h2, h3, h4, .title, .xJVnIb, .Q8LRLc, .cbphWd, .CNf3nf, #SIvCob{
    color: #eceff4 !important;
}
.rUQgO{
    display: none !important;
}
:not(.mn-dwn-arw) {
    border: none !important;
    border-radius: 0px !important;
}
.mn-dwn-arw{
    border-color: #81a1c1 transparent !important;
}
.TbwUpd > *,a *, a, .w8qArf *, .gb_sa svg, .RJn8N {
    color: #a3be8c !important;
}
.LC20lb,.TXwUJf,.hdtb-mitem {
    color: #81a1c1 !important;
}
.f,td.cur, #resultStats, .G1Rrjc {
    color: #d8dee9 !important;
}

